.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.menu {
  position: absolute;
  width: max-content;
  top: 16px;
  right: 0;
  background: #313131;
  font-size: 12px;
  z-index: 1000;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.option {
  padding: 8px;
}

.option:hover {
  background: black;
}

.menu .option:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.menu .option:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
