.iconsContainer {
  display: flex;
  flex-flow: column;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.logo {
  background: white;
  border-radius: 9%;
  margin-bottom: 50px;
}
