.iconsContainer {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.utilitySection {
  flex: 1;
}

.logo {
  background: white;
  border-radius: 9%;
  margin-bottom: 50px;
}

.updates {
  text-align: center;
}
