.iconsContainer {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.icon {
  margin-bottom: 10px !important;
}

.utilitySection {
  flex: 1;
  margin-top: 50px !important;
}

.logo {
  background: white;
  border-radius: 9%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  margin: 3px;
}
