.webViewContainer {
  display: flex;
  flex-direction: column;
}

.webViewToolbar {
  margin: 8px 3px 3px 3px;
  display: flex;
  justify-content: space-between;
}

.webViewToolbarLeft {
  display: flex;
}

.webViewToolbarLeft .webViewToolbarIcons {
  margin-right: 4px;
}

.webViewToolbarRight {
  display: flex;
}

.webViewToolbarRight .webViewToolbarIcons {
  margin-left: 4px;
}

.webViewToolbarIcons {
  padding: 0 2px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 30px;
}

.deviceContainer {
  position: relative;
  border: 3px solid #687cee00;
}

.devToolsActive {
  border: 3px solid #6075ef;
}

.device {
  transform-origin: top left;
  background: white;
}

.deviceOverlay {
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
  text-align: center;
}

.deviceOverlay.overlayEnabled {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.errorDesc {
  font-size: 20px;
}
