.webViewContainer {
  display: flex;
  flex-direction: column;
}

.webViewToolbar {
  padding: 5px;
  display: flex;
  align-items: center;
}

.webViewToolbarIcons {
  margin-right: 2px;
  padding: 0 2px;
}

.deviceContainer {
  position: relative;
}

.device {
  transform-origin: top left;
  background: white;
}

.screenshotOverlay {
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.screenshotOverlay.screenshotInProgress {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}
