/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: .5rem 1rem;
}

@media (min-width: 992px) {
  .container {
      max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

#privacyPolicy p {
  text-align: justify !important;
}

#privacyPolicy ol, #privacyPolicy li {
  text-align: left !important;
}

.extensionButton {
  width: 300px;
}