.container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: scroll;
  flex-direction: column;
  background-color: red;
}

.flexigrid {
  flex-wrap: wrap;
}

.horizontal {
  flex-wrap: nowrap;
}

.devicesContainer {
  display: flex;
  padding-bottom: 50px;
}

.tab {
  display: none;
  margin: auto;
}

.tab.activeTab {
  display: block;
}
