.container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

.flexigrid {
  flex-wrap: wrap;
}

.horizontal {
  flex-wrap: nowrap;
}

.devicesContainer {
  display: flex;
  padding-bottom: 100px;
}

.tab {
  display: none;
  margin: auto;
}

.tab.activeTab {
  display: block;
}
