.container {
  display: flex;
  height: calc(100vh - 75px);
  width: 100%;
  overflow: scroll;
  flex-direction: column;
}

.flexigrid {
  flex-wrap: wrap;
}

.horizontal {
  flex-wrap: nowrap;
}

.devicesContainer {
  display: flex;
}

.customTabPanel {
  display: flex !important;
  justify-content: center;
}

.tab {
  display: none;
  margin: auto;
}

.tab.activeTab {
  display: block;
}
