.profileManagerContainer {
  height: 600px;
  padding: 20px;
}

.profilesContainer {
  max-height: 430px;
  overflow-y: auto;
  flex-grow: 1;
}

.profilesRow > th {
  cursor: default;
}

.profilesRow > th,
td {
  padding-right: 16px !important;
}

.profilesHeader > tr > th {
  font-size: 20px;
  font-weight: bold;
}
.profilesRow > th.customProfile {
  cursor: pointer;
}

.actionIcon {
  pointer-events: all;
  cursor: pointer;
  color: white;
}

.actionIcon:hover {
  color: #6075ef;
}

.saveButton {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
}

.numericField * {
  text-align: right;
  font-size: 14px !important;
}
.numericFieldDisabled fieldset {
  border: 0 !important;
}
.numericFieldDisabled input {
  color: white !important;
}

.titleField * {
  font-size: 14px !important;
}
