.container {
  width: 350px;
  height: 45px;
  position: absolute;
  top: 70px;
  right: 25px;
  display: flex;
  background: #ffffff15;
  border-radius: 3px;
  word-wrap: break-word;
  color: #1e1e1e;
  box-shadow: 0 0 3px 0 #000;
  padding: 5px;
}

.textbox {
  border: none;
  outline: none;
  border-color: transparent;
  width: 250px;
  height: 100%;
  background: none;
  color: white;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator {
  border-left: 1px solid #636363;
}

.icon {
  cursor: pointer;
  width: 30px;
  padding: 5px;
  color: #fffc;
}

.closeIcon {
  font-size: 20px !important;
}
