<!DOCTYPE html>
<html>

<body>
    <h1>EMAIL NOTICE</h1>

    <p>
        <ul>
            <li>
                Name: [[contact-name]]
            </li>
            <li>
                Email: [[contact-email]]
            </li>
            <li>
                Company: [[contact-company]]
            </li>
            <li>
                Phone: [[contact-phone]]
            </li>
            <li>
                Message: [[contact-message]]
            </li>
        </ul>


    </p>

    <h6>End of email</h6>
</body>

</html>
