.icons {
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  border-radius: 5px;
}

.roundIcon {
  border-radius: 50%;
}

.icons.disabled {
  opacity: 0.3;
  cursor: auto;
}

.icons.enabled:hover {
  opacity: 1;
  background: #6075ef;
}

.icons.selected {
  background: #7587ec;
}

.iconDisabler {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.iconDisabler.disabled {
  display: block;
}

.sidebarContentSection {
  background: #00000040;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
}

.sidebarContentSectionTitleBar {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.sidebarContentSectionContainer {
  margin: 8px;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.flexContainerSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexAlignVerticalMiddle {
  align-items: center;
  display: flex;
}

.hidden {
  display: none;
}

.fullWidth {
  width: 100%;
}
