.bookmarks {
  padding: 0 10px;
  display: flex;
  margin-top: 4px;
}

.bookmarkItem {
  color: #ffffffcc;
  fill: #ffffffcc;
  cursor: default;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 13px;
  min-width: 100px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookmarkItem:hover {
  background-color: #6075ef;
  fill: #fff;
}

.icon {
  margin-right: 5px;
}
