.container {
  font-size: 14px;
  position: absolute;
  bottom: 35px;
  right: 25px;
  background: #7587ec;
  border-radius: 5px;
  word-wrap: break-word;
  box-shadow: inset 0 0 1px #000;
  padding: 10px 20px 20px 20px;
  min-width: 250px;
  max-width: 320px;
}

.titleContainer {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
}

.content {
  cursor: pointer;
  margin: 0 0 25px 0;
  width: 70%;
  text-align: center;
}

.responseButtons {
  padding: 8px;
  border: solid 1px white;
  border-radius: 100px;
  margin: 0 10px;
  min-width: 70px;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.responseButtons:hover {
  background: #6679e2;
}

.okButton {
  background: #efefef;
  border: solid 1px #efefef;
  color: black;
}

.okButton:hover {
  background: white;
  border: solid 1px white;
  color: #1e1e1e;
}

.responseButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
