.proxyManagerContainer {
  min-height: 600px;
  padding: 20px 0;
}

.saveButton {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
}

.numericField * {
  font-size: 14px !important;
}
.numericFieldDisabled fieldset {
  border: 0 !important;
}
.numericFieldDisabled input {
  color: white !important;
}

.titleField * {
  font-size: 14px !important;
}

.removeMarginTop {
  margin-top: 0;
}
.removeMarginBottom {
  margin-bottom: 0;
}
.wilcardsAndMoreLink {
  color: white !important;
  text-decoration: underline !important;
}

.bypassListField {
  margin-top: 18px;
  width: 50%;
}
.bypassListFieldTextArea * {
  font-family: 'Consolas', 'Courier New', monospace !important;
  white-space: pre !important;
  font-size: 14px !important;
}
