.searchBarSuggestionsContainer {
  width: calc(100% + 2px);
  max-height: 20em;
  position: absolute;
  overflow: hidden;
  left: -1px;
  top: 1.8em;
  background: #4b4b4c;
  border-radius: 0 0 14px 14px;
  border-right: solid 1px #7587ec;
  border-bottom: solid 1px #7587ec;
  border-left: solid 1px #7587ec;
}

.searchBarSuggestionsListUl {
  padding: 0;
  margin: 0;
  list-style: none;
}

.searchBarSuggestionsListItems {
  display: flex;
  align-items: center;
  line-height: 22px;
  color: #cacaca;
  padding: 0.4em 1em;
  cursor: default;
}

.searchBarSuggestionsActiveListItems {
  background: #7587ec;
  color: white;
}

.searchBarSuggestionsListItems:hover {
  background: gray;
  color: white;
}

.pageFavIconWrapper {
  width: 16px;
  height: 16px;
}

.pageFavIcon {
  display: block;
  width: 16px;
  height: 16px;
}

.pageDefaultFavIconWrapper {
  font-size: 16px;
  height: 16px;
}

.pageTitleAndUrlContainer {
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageTitle::after {
  content: '-';
  margin: 0 8px;
}

.pageUrl {
  font-weight: bold;
}
