.header {
  width: calc(100vw - 50px);
  padding: 20px 0 10px;
  background: #252526;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.darkToast {
  background: #696969 !important;
  border-radius: 5px !important;
  font-size: 15px;
  font-weight: lighter;
}
