.header {
  width: 100%;
  padding: 20px 0 5px;
  background: #252526;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  z-index: 5;
}

.darkToast {
  background: #696969 !important;
  border-radius: 5px !important;
  font-size: 15px;
  font-weight: lighter;
}
