.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar:hover,
.dark .custom-scrollbar::-webkit-scrollbar,
.dark .custom-scrollbar::-webkit-scrollbar:hover {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.9);
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(148, 163, 184, 0.7);
}

.dark .custom-scrollbar::-webkit-scrollbar {
  background-color: rgba(148, 163, 184, 0.6);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb,
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(241, 245, 249, 0.8);
}
