.listHolder {
  padding: 20px;
  background: #00000030;
  border-radius: 10px;
  border: 1px solid lightgrey;
  height: 70vh;
  width: 340px;
  overflow: scroll;
}

.searchContainer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchIcon {
  margin: 0 14px 0 !important;
}
