{
    "overrides": [
        {
            "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
            "options": {
                "parser": "json"
            }
        }
    ],
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "trailingComma": "es5"
}
