{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": false,
  "printWidth": 100,
  "tailwindConfig": "./tailwind.config.js",
  "trailingComma": "es5"
}