.preferenceName {
  font-size: 14px;
}

.preferenceColor {
  width: 24px;
  height: 20px;
  margin: 0 10px;
  border: transparent;
}

.preferenceColor input {
  width: 26px;
  height: 40px;
  border: transparent;
}

.sectionTitle {
  margin: 5px 0;
}

.sectionHeader {
  display: flex;
  align-items: center;
}

.sectionHeader::after {
  content: '';
  flex: 1;
  margin-left: 5px;
  height: 1px;
  background-color: #636363;
}
