.preferenceName {
  font-size: 14px;
}

.preferenceColor {
  width: 24px;
  height: 20px;
  margin: 0 10px;
  border: transparent;
}

.preferenceColor input {
  width: 26px;
  height: 40px;
  border: transparent;
}

.sectionTitle {
  margin: 5px 0;
}

.sectionHeader {
  display: flex;
  align-items: center;
}

.sectionHeader::after {
  content: '';
  flex: 1;
  margin-left: 5px;
  height: 1px;
  background-color: #636363;
}

.permissionsSelectorContainer {
  margin-top: 10px;
}

.permissionsSelectorSmallNote {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  font-size: 0.75rem;
  margin-top: 10px;
  text-align: left;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
