{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["airbnb", "prettier", "prettier/flowtype", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "array-callback-return": "off",
    "class-methods-use-this": "off",
    "compat/compat": "error",
    "consistent-return": "off",
    "comma-dangle": "off",
    "flowtype/boolean-style": ["error", "boolean"],
    "flowtype/define-flow-type": "warn",
    "flowtype/delimiter-dangle": "off",
    "flowtype/generic-spacing": ["error", "never"],
    "flowtype/no-primitive-constructor-types": "off",
    "flowtype/no-weak-types": "off",
    "flowtype/object-type-delimiter": ["error", "comma"],
    "flowtype/require-parameter-type": "off",
    "flowtype/require-return-type": "off",
    "flowtype/require-valid-file-annotation": "off",
    "flowtype/semi": ["error", "always"],
    "flowtype/space-after-type-colon": ["error", "always"],
    "flowtype/space-before-generic-bracket": ["error", "never"],
    "flowtype/space-before-type-colon": ["error", "never"],
    "flowtype/union-intersection-spacing": ["error", "always"],
    "flowtype/use-flow-type": "error",
    "flowtype/valid-syntax": "error",
    "generator-star-spacing": "off",
    "global-require": "off",
    "import/order": "off",
    "import/extensions": "off",
    "no-cond-assign": "off",
    "no-await-in-loop": "off",
    "import/first": "off",
    "import/no-duplicates": "off",
    "import/no-unresolved": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/accessible-emoji": "off",
    "lines-between-class-members": "off",
    "no-case-declarations": "off",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "no-empty": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "no-sequences": "off",
    "no-unreachable": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "prefer-destructuring": "off",
    "promise/param-names": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "promise/no-native": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-no-duplicate-props": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-array-index-key": "off",
    "react/no-unused-state": "off",
    "react/prop-types": "off",
    "react/sort-comp": [
      "off",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "react/style-prop-object": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
    "react/prefer-stateless-function": "off"
  },
  "plugins": ["flowtype", "import", "promise", "compat", "react"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.eslint.js"
      }
    }
  }
}
