.container {
  margin: 10px;
}

.deviceTitle {
  font-weight: normal;
  font-size: 16px;
  margin: 0 6px -2px 4px;
}

.deviceSize {
  font-size: 9px;
  display: flex;
  height: 15px;
  align-items: flex-end;
  color: lightgrey;
  margin-right: 5px;
}

.loaderContainer {
  width: 20px;
}

.deviceWrapper {
}

.titleContainer {
  margin: 3px;
  display: flex;
  align-items: center;
}

.deviceInfo {
  display: flex;
  align-items: flex-end;
}

.hidden {
  display: none;
}
