.iconCheck {
  text-align: center;
  margin: auto;
  width: 20px;
  height: 20px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
}

.iconCheck .circle {
  animation-name: circle;
  animation-duration: 2s;
  stroke-dashoffset: 0;
  stroke-dasharray: 1000;
  animation-timing-function: ease-in-out;
  fill: none;
  stroke-width: 16.67px;
}

.iconCheck .check {
  animation-name: check;
  animation-duration: 2s;
  stroke-dashoffset: 500;
  stroke-dasharray: 1000;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes circle {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 500;
  }
}
