.drawer {
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
  background: #252526;
}

.drawer.open {
  width: 290px;
  flex-shrink: 0;
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 10px 0 0;
  padding: 5px 5px 0 0;
}

.contentContainer {
}
