.drawer {
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
  background: #252526;
}

.drawer.open {
  width: 290px;
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
  margin-right: 10px;
  padding-right: 5px;
}

.contentContainer {
}
