.addressBarContainer {
  display: flex;
}

.addressInput {
  font-size: 16px;
  height: 20px;
  width: 400px;
  padding: 5px 10px;
  border-radius: 20px;
  background: unset;
  color: white;
  border: solid 1px white;
  outline: none;
}

.goButton {
  background: unset;
  border: none;
  cursor: pointer;
  outline: none;
}
