.addressBarContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.addressInput {
  font-size: 16px;
  height: 20px;
  width: 100%;
  padding: 14px 10px;
  border-radius: 20px;
  background: unset;
  color: #ffffffcc;
  border: solid 1px #ffffff80;
  outline: none;
  transition: border 500ms ease-out;
}

.addressInput:focus {
  color: white;
  border: solid 1px #7587ec;
}

.floatingOptionsContainer {
  position: absolute;
  display: flex;
  right: 5px;
}
