.addressBarContainer {
  display: flex;
}

.addressInput {
  font-size: 16px;
  height: 20px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  background: unset;
  color: #ffffffcc;
  border: solid 1px #ffffff80;
  outline: none;
  transition: border 500ms ease-out;
}

.addressInput:focus {
  color: white;
  border: solid 1px #ffffffcc;
}

.goButton {
  background: unset;
  border: none;
  cursor: pointer;
  outline: none;
}
