.addressBarContainer {
  display: flex;
  position: relative;
  align-items: center;
  height: 20px;
  width: 100%;
  padding: 14px 10px;
  border-radius: 20px;
  background: unset;
  color: #ffffffcc;
  border: solid 1px #ffffff80;
  outline: none;
  transition: border 500ms ease-out;
}

.addressInput {
  height: 20px;
  background: unset;
  font-size: 16px;
  color: inherit;
  border: none;
  width: 92%;
  margin: 0;
  outline: none;
  text-overflow: ellipsis;
}

.addressInput:focus-within {
  height: 30px;
}

.addressBarContainer:focus-within {
  color: white;
  border: solid 1px #7587ec;
  box-shadow: 1px 1px 4px 5px #191515;
  border-radius: 0px;
}

.floatingOptionsContainer {
  position: absolute;
  display: flex;
  right: 5px;
}

.searchBarSuggestionsContainer {
  width: 90%;
  max-height: 20em;
  position: absolute;
  left: -1px;
  top: 1.8em;
  background: rgb(37, 37, 38);
  overflow: scroll;
}
.searchBarSuggestionsListItems {
  font-size: 1em;
  color: white;
  padding: 0.4em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchBarSuggestionsListUl {
  padding: 0px;
  list-style: none;
}

.searchBarSuggestionsListItems:hover {
  background: gray;
}

.searchBarSuggestionsListItems.active {
  background: gray;
}
