.chromeIcon {
  fill: rgb(165, 165, 165);
  margin-right: 5px;
  height: 12px;
  cursor: pointer;
}

.chromeIcon.selected {
  fill: #7587ec;
}

@media (prefers-color-scheme: light) {
  .chromeIcon {
    fill: #555;
  }
}
