.filterSection {
  margin-bottom: 10px;
}

.sectionTitle {
  margin: 5px;
}

.optionIconsContainer {
  display: flex;
  align-items: center;
}

.optionIcon {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
