.container {
  background: #00000040;
  border-radius: 5px;
  padding: 20px 0;
}

.titleBar {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.filterSection {
  margin-bottom: 10px;
}

.sectionTitle {
  margin: 5px;
}

.optionIconsContainer {
  display: flex;
  align-items: center;
}

.optionIcon {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}
