.devicesManagerDialog {
  height: calc(100vh - 30px);
  top: 30px !important;
}

.container {
  margin: 50px;
  height: calc(100vh - 200px - 30px);
}

.content {
  height: 100%;
  justify-content: center;
}

.section {
  position: relative;
  padding: 0 20px;
}

.listTitle {
  display: flex;
  background: #7587ec;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  align-items: flex-end;
  margin-bottom: 10px;
  justify-content: center;
}

.toolTip {
  background: #ffffff10;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 14px;
  color: #dedede;
  width: fit-content;
}

.editButton {
  font-size: 10px !important;
  padding: 5px !important;
}
