.toolbarContainer {
  height: 20px;
  color: rgb(165, 165, 165);
  border-color: rgb(61, 61, 61);
  border-style: solid;
  border-width: 1px 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 1400;
}

@media (prefers-color-scheme: light) {
  .toolbarContainer {
    background: #f3f3f3;
    color: #555;
    border-color: #d0d0d0;
  }
}

.toolsGroup {
  height: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.icon svg {
  fill: rgb(165, 165, 165);
}

.inputSection {
  margin: 0 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.labelText {
  font-size: 12px;
  margin-right: 5px;
}

.chromeSelect {
  -webkit-appearance: none;
  user-select: none;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 2px;
  color: #333;
  font: inherit;
  margin: 0;
  outline: none;
  padding-right: 20px;
  padding-left: 6px;
  background-image: -webkit-image-set(
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAQAAACxSAwfAAAASUlEQVQY02NgIBlEMaShwCisqhITmb8x/IdB5m+JiViV/VdYsJDtJ0QR288FC/8r4LAVphCvIphCvi8EFEEUvm0iqAiskBVTDABtayfbVbR52gAAAABJRU5ErkJggg==)
      1x,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAQAAAA/1a6rAAAAMklEQVQ4y2NgGAUMDQz/8cAGahrYQE0XNlDTyw3UDMMGakZKAzVjuYGayaZhNO8MMQAAJ0U/yRb8G2IAAAAASUVORK5CYII=)
      2x
  );
  background-color: hsl(0deg 0% 98%);
  background-position: right center;
  background-repeat: no-repeat;
  min-width: 80px;
  background-size: 15px;
}

.chromeSelect:disabled {
  opacity: 38%;
}

.chromeSelect:enabled:active,
.chromeSelect:enabled:focus,
.chromeSelect:enabled:hover {
  background-color: hsl(0deg 0% 96%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.chromeSelect:enabled:active {
  background-color: #f2f2f2;
}

.chromeSelect:enabled:focus {
  border-color: transparent;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 0 0 2px rgb(66 133 244 / 40%);
}

.chromeSelect optgroup,
.chromeSelect option {
  background-color: #eee;
  color: #222;
}

@media (prefers-color-scheme: light) {
  .icon svg {
    fill: #555;
  }
}

.resizable {
  color: white;
  z-index: 1400;
}
