.toolbarContainer {
  height: 20px;
  color: rgb(165, 165, 165);
  border-color: rgb(61, 61, 61);
  border-style: solid;
  border-width: 1px 0;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  z-index: 1400;
}

@media (prefers-color-scheme: light) {
  .toolbarContainer {
    background: #f3f3f3;
    color: #555;
    border-color: #d0d0d0;
  }
}

.toolsGroup {
  height: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.icon svg {
  fill: rgb(165, 165, 165);
}

@media (prefers-color-scheme: light) {
  .icon svg {
    fill: #555;
  }
}

.resizable {
  color: white;
  z-index: 1400;
}
