.statusBar {
  height: 20px;
  display: flex;
  background-color: #ffffff15;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.35);
  color: #fffc;
  justify-content: space-between;
  z-index: 1;
}

.section {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.statusText {
  display: flex;
  align-items: center;
  color: grey;
  height: 100%;
  padding: 0 5px;
  filter: grayscale(1);
  font-size: 12px;
}

.text {
  display: flex;
  align-items: center;
  cursor: default;
  color: grey;
  fill: grey;
  border-radius: 2px;
  height: 100%;
  padding: 0 5px;
  filter: grayscale(1);
}

.link {
  cursor: pointer;
}

.link:hover {
  color: lightgrey;
  fill: lightgrey;
  background-color: #000;
  filter: none;
}

.linkIcon {
  fill: inherit;
  margin: 0 4px;
}

.linkText {
  color: inherit;
  font-size: 12px;
}
