/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~@fontsource/lato/300.css';
@import '~@fontsource/lato/400.css';
@import '~@fontsource/lato/400-italic.css';
@import '~@fontsource/lato/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  user-select: none;
}
