/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~react-toastify/dist/ReactToastify.css';
@import '~react-tabs/style/react-tabs.css';

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

svg {
  pointer-events: none;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.react-tabs {
  position: sticky;
  left: 0;
  top: 0;
  margin-bottom: 10px;
  z-index: 4;
  background-color: #1e1e1e;
}

.react-tabs__tab {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  bottom: unset;
}

.react-tabs__tab-list {
  display: flex;
  margin-bottom: 0;
  overflow: auto;
}

.spin::before {
  animation: fa-spin 1s linear infinite;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#HW_badge_cont {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}
#HW_badge {
  left: 26px !important;
  top: 6px !important;
}

/* --start
Add device form styles */
.padded-input input {
  padding: 20px 14px;
}

.input-adornment p {
  color: #ffffff90;
}

/* Add device form styles 
--End */

/*
{
	"$schema": "vscode://schemas/color-theme",
	"name": "Dark Default Colors",
	"colors": {
		"editor.background": "#1E1E1E",
		"editor.foreground": "#D4D4D4",
		"editor.inactiveSelectionBackground": "#3A3D41",
		"editorIndentGuide.background": "#404040",
		"editorIndentGuide.activeBackground": "#707070",
		"editor.selectionHighlightBackground": "#ADD6FF26",
		"list.dropBackground": "#383B3D",
		"activityBarBadge.background": "#007ACC",
		"sideBarTitle.foreground": "#BBBBBB",
		"input.placeholderForeground": "#A6A6A6",
		"settings.textInputBackground": "#292929",
		"settings.numberInputBackground": "#292929",
		"menu.background": "#252526",
		"menu.foreground": "#CCCCCC"
	}
}
*/

/* This is to make the scrollbar consistent */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* The scrollbar Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* When the box area between the horzontal scrollbar and the vertical scrollbar */
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
