.appRoot {
  height: calc(100% - 20px);
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.iconColumn {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff15;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  padding-top: 20px;
}

.contentColumn {
  width: calc(100vw - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
}
