.appRoot {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.iconColumn {
  flex-shrink: 0;
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff15;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  padding-top: 20px;
}

.contentColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  flex-basis: 0;
}
